# create new VM Template
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<h1>Create new Virtual Machine</h1>

{% block content %}
<form method="POST" class="post-form">	
	{% csrf_token %}
	{{ form | crispy }}
	<button type="submit" class="btn btn-primary">Create</button>
</form>
{{% endblock %}}